<ion-header>
  <ion-toolbar>
    <ion-title>register</ion-title>
    <ion-back-button></ion-back-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="registerForm">
    <ion-item>
      <ion-label>Username</ion-label>
      <ion-input type="username" formControlName="username"></ion-input>
      </ion-item>
      <ion-item>
    <ion-item>
    <ion-label>Email</ion-label>
    <ion-input type="email" formControlName="email"></ion-input>
    </ion-item>
    <ion-item>
    <ion-label>Password</ion-label>
    <ion-input type="password" formControlName="password"></ion-input>
    </ion-item>
    <ion-button expand="block" color="tertiary" type="submit"> Register
    </ion-button>
    </form>
</ion-content>
