<ion-header>
  <ion-toolbar>
    <ion-title>register</ion-title>
    <ion-back-button></ion-back-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="registerForm">
    <ion-item>
      <ion-label>Username</ion-label>
      <ion-input type="username" formControlName="username"></ion-input>
    </ion-item>
      <ion-item>
        <ion-label>Email</ion-label>
        <ion-input type="email" formControlName="email"></ion-input>
      </ion-item>
      <ion-list>
        <ion-radio-group formControlName="gender">
          <ion-list-header>
            <ion-label>Gender</ion-label>
          </ion-list-header>
        <ion-item>
            <ion-label>Male</ion-label>
            <ion-radio slot="start" value="male"></ion-radio>
        </ion-item>
        <ion-item>
          <ion-label>Female</ion-label>
          <ion-radio slot="start" value="female"></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label>Other</ion-label>
        <ion-radio slot="start" value="other"></ion-radio>
    </ion-item>
        </ion-radio-group>
      </ion-list>
      <ion-item>
        <ion-label>Password</ion-label>
        <ion-input type="password" formControlName="password"></ion-input>
      </ion-item>
      <ion-item> 
        <ion-label>Confirm Password</ion-label>
      <ion-input type="password" formControlName="confirmPassword"></ion-input>
      </ion-item>
      
    <ion-button expand="block" color="tertiary" type="submit" (click)=add()> Register
    </ion-button>
  </form>
</ion-content>